@import "colors.scss";

#calendar-wrapper {
	aside {
		li.widget.widget_nav_menu {
			list-style-type: none;
			padding: 0;

			.menu-calendar-menu-container {
				ul {
					padding: 0;
					margin: 0;

					li {
						list-style-type: none;
						height: auto;
						padding: 5px 0;

						a {
							font-family: "Open Sans";
							font-size: 15px;
							line-height: 25px;
							color: $wl_medium_grey;
							text-decoration: none;

							&:hover,
							&:active {
								color: $wl_green;
							}

							&:hover {
								&:after {
									color: $wl_green;
									font-family: "Font Awesome 5 Free";
									font-weight: 900;
									content: "";
									font-style: normal;
									font-variant: normal;
									text-rendering: auto;
									text-decoration: none;
									margin-left: 8px;
								}
							}
						}

						&.current-menu-item {
							a {
								color: $wl_green;

								&:after {
									color: $wl_green;
									font-family: "Font Awesome 5 Free";
									font-weight: 900;
									content: "";
									font-style: normal;
									font-variant: normal;
									text-rendering: auto;
									text-decoration: none;
									margin-left: 8px;
								}
							}
						}
					}
				}
			}
		}

		li.widget.widget_categories {
			list-style-type: none;
			ul {
				padding: 0;
				margin: 0;

				li {
					list-style-type: none;

					a {
						font-family: "Open Sans";
						font-size: 15px;
						line-height: 35px;
						color: $wl_medium_grey;
						text-decoration: none;

						&:hover,
						&:active {
							color: $wl_green;
						}

						&:hover {
							&:after {
								color: $wl_green;
								font-family: "Font Awesome 5 Free";
								font-weight: 900;
								content: "";
								font-style: normal;
								font-variant: normal;
								text-rendering: auto;
								text-decoration: none;
								margin-left: 8px;
							}
						}
					}

					&.current-menu-item {
						a {
							color: $wl_green;

							&:after {
								color: $wl_green;
								font-family: "Font Awesome 5 Free";
								font-weight: 900;
								content: "";
								font-style: normal;
								font-variant: normal;
								text-rendering: auto;
								text-decoration: none;
								margin-left: 8px;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	/* For mobile phones: */
	.qtip.simcal-default-calendar {
		height: auto;
		overflow: scroll;
		margin-top: 175px;

		.simcal-events {
			padding: 10px;
		}
	}
}