
@import "colors.scss";

#contact-wrapper {
	li.widget_media_image {
		list-style: none;
		width: 100%;
		height: auto;
		margin: 0;

		img {
			width: 100%;
			height: auto;
		}
	}

	.site-main {
		.entry-content {
			display: flex;
			flex-direction: row;
			width: 90%;
			justify-content: center;
			margin: 0 auto;

			@media only screen and (max-width: 767px) {
				/* For mobile phones: */
				flex-direction: column;
				width: 100%;
			}

			.contact-operations-info {
				flex: 0 0 33.3%;
				padding: 0 15px 0 0;

				@media only screen and (max-width: 767px) {
					/* For mobile phones: */
					flex: 0 0 100%;
				}

				.widget_text {
					list-style: none;

					.contact-operations-info {
						font-family: "Open Sans";
						font-size: 36px;
						line-height: 49px;
						font-weight: normal;
						color: $wl_medium_grey;
					}
				}
			}

			.contact-content {
				flex: 0 0 66.7%;

				iframe {
					width: 100%;

					@media only screen and (max-width: 767px) {
						/* For mobile phones: */
						display: none;
					}

				}

				@media only screen and (min-width: 768px) {
					.contact-text {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;

						p {
							flex: 0 0 42%;
							padding: 0 10px 0 0;
						}
					}
				}
			}
		}
	}
}