@import "colors.scss";

.internal-content-area {
	.site-main {
		h1 {
			font-family: "Open Sans";
			font-size: 34px;
			font-weight: normal;
			line-height: 31px;
			color: $wl_medium_grey;
		}

		h2 {
			font-family: "Open Sans";
			font-size: 20px;
			font-weight: normal;
			line-height: 38px;
			color: $wl_green;
		}

		h3 {
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 500;
			line-height: 26px;
			color: $wl_black;
		}

		p {
			font-family: "Open Sans";
			font-size: 16px;
			line-height: 26px;
			color: $wl_black;

			&.intro {
				font-family: "Open Sans";
				font-size: 18px;
				line-height: 28px;
				color: $wl_medium_grey;
			}
		}

		ul {
			margin: 0 0 0 20px;
			padding: 0;
			list-style: none;

			li {
				&:before {
					content: "•";
					color: $wl_green;
					font-size: 20px;
					display: inline-block;
					width: 1em;
					margin-left: -1em;
				}
			}
		}

		ol {
			margin: 0 0 0 20px;
			padding: 0;

			li {}
		}

		a {
			color: $wl_green;
			text-decoration: underline;

			&:hover {
				color: $wl_green;
				text-decoration: none;
			}
		}

		.wpsm_panel-group {
			.wpsm_panel-collapse .wpsm_panel-body {
				padding: 15px 0;
			}

			.wpsm_panel.wpsm_panel-default {
				.ac_title_class {
					padding-left: 0 !important;
					padding-right: 0 !important;
				}

				.wpsm_panel-title {
					a {
						font-weight: 300;
						max-width: 550px;

						.ac_open_cl_icon {
							font-weight: 300;
						}
					}
				}
			}

		}
	}
}