@import "colors.scss";

.site-footer {
	display: flex;
	flex-direction: row;
	background-color: $wl_teal;
	width: 100%;
	height: 300px;
	color: $wl_white;
	padding-top: 30px;

	@media only screen and (max-width: 768px) {
		/* For mobile phones: */
		flex-direction: column;
		height: auto;
		padding-bottom: 20px;
	}

	.left-logo-area {
		padding: 20px 30px 20px 20px !important;

			aside {
				text-align: right;
			}
	}

	.right-area {
		padding: 20px 20px 20px 30px !important;
	}

	.left-logo-area,
	.right-area {
		flex: 1;
		padding: 20px;

		@media only screen and (max-width: 768px) {
			/* For mobile phones: */
			flex: none;
			text-align: center;
			width: 100%;
			height: auto;
			padding: 5px 20px;

			aside {
				margin: 0 auto;
				max-width: 350px;
				text-align: center;

				img {
					width: 85%;
					max-width: 350px !important;
				}
			}
		}
	}

	.center-area {
		width: auto;
		padding: 20px 30px;

		@media only screen and (max-width: 768px) {
			/* For mobile phones: */
			width: 100%;
			align-self: center;
			height: auto;
			padding: 5px 20px;

			aside {
				margin: 0 auto;
				max-width: 250px;

				.textwidget.custom-html-widget {
					width: 260px;
				}
			}
		}
	}

	.center-area {
		.textwidget.custom-html-widget {
			display: flex;
			flex-direction: column;

			.address,
			.phone {
				margin: 5px 0;
				display: flex;

				.icon {
					width: 28px;
					height: 28px;

					svg {
						fill: $wl_white;

						&:hover {
							cursor: pointer;
							fill: #002f33;
						}
					}
				}

				.right {
					padding: 0 10px 0 15px;
					text-align: left;
					font-family: "Open Sans";
					font-size: 14px;
					line-height: 19px;
					height: 40px;

					a {
						color: $wl_white;
					}
				}
			}


			.email {
				margin: 5px 0;
				display: flex;

				.icon {
					width: 22px;
					height: 22px;

					svg {
						fill: $wl_white;

						&:hover {
							cursor: pointer;
							fill: #002f33;
						}
					}
				}

				.right {
					padding: 0 10px 0 15px;
					text-align: left;
					font-family: "Open Sans";
					font-size: 14px;
					line-height: 19px;
					height: 40px;

					a {
						color: $wl_white;
					}
				}
			}

			.social-media {
				margin: 5px 0;
				display: flex;
				align-self: flex-start;
				padding-left: 30px;

				svg {
					width: 30px;
					height: 30px;
					fill: #fff;
				}
			}
		}
	}

	.right-area {
		@media only screen and (max-width: 768px) {
			aside {
				max-width: 280px;
			}
		}
		.textwidget.custom-html-widget {
			display: flex;
			flex-direction: column;

			.hours {
				margin: 5px 0;
				display: flex;

				.icon {
					width: 30px;
					height: 30px;

					svg {
						fill: $wl_white;
					}
				}

				.right {
					padding: 0 10px 0 15px;
					text-align: left;
					font-family: "Open Sans";
					font-size: 14px;
					line-height: 19px;
				}
			}
		}
	}
}

.copyright {
	height: 45px;
	width: 100%;
	display: block;

	p {
		font-family: "Open Sans";
		font-size: 14px;
		line-height: 19px;
		text-align: center;
		color: $wl_black;

		a {
			text-decoration: none;
			color: $wl_black;

			&:hover {
				color: $wl_black;
				text-decoration: underline;
			}
		}
	}
}