@import "colors.scss";

#wpfront-notification-bar-spacer {
	@media only screen and (max-width: 812px) {
		/* For mobile phones: */
		z-index: 9999999;
	}
}

html {
	font-weight: 400;
}

@-moz-document url-prefix() {
	body {
		font-weight: 300 !important;
	}
}

.site-content {
	padding: 0;
	margin: 0;
	height: auto;
	border-top: 1px solid $wl_light_grey;
	min-height: 400px;
}