@import "colors.scss";

.site-header {
	display: flex;
	width: 100%;
	height: 150px;

	@media only screen and (max-width: 812px) {
		display: none;
	}

	.site-branding {
		width: 350px;
		height: 100%;
		padding: 30px 40px;

		.custom-logo {
			width: 269px;
		}

		.site-title, .site-description {
			display: none;
		}
	}

	.navigation {
		flex: 1;
		height: 100%;
		display: flex;
		flex-direction: column;

		.secondary-navigation {
			display: block;
			align-self: flex-end;
			width: auto;
			height: 45px;
			margin-right: 40px;

			ul.menu {
				display: flex;
				flex-direction: row;
				list-style: none;
				margin: 0;
				padding-left: 0;

				li.menu-item {
					height: auto;
					width: auto;
					padding: 10px;
					margin: 0 5px;

					&:nth-child(1) {
						background-color: $wl_salmon;
						height: 39px;
					}

					&:nth-child(2) {
						background-color: $wl_green;
						height: 39px;
					}

					&:nth-child(3) {
						background-color: $wl_teal;
						height: 39px;
					}

					a {
						display: block;
						text-decoration: none;
						color: $wl_white;
						text-transform: uppercase;
						font-family: "Open Sans";
						font-size: 11px;
						font-weight: bold;
						letter-spacing: 1.1px;
						line-height: 20px;
						text-align: center;

						&:hover,
						&:focus,
						&:active {
							color: $wl_white;
						}

						&:visited {
							color: $wl_white;
						}
					}
				}
			}
		}

		.main-nav-search {
			align-self: flex-end;
			display: flex;
			width: auto;
			height: 45px;
			margin: 20px 40px 0 0;

			.main-navigation {
				width: auto;
				height: 45px;
				display: none;

				&.show {
					display: block;
				}

				ul.menu {
					display: flex;
					flex-direction: row;
					list-style: none;
					margin: 0;
					padding-left: 0;

					li.menu-item {
						height: auto;
						width: auto;
						padding: 10px;
						margin: 0 5px;

						@media only screen and (max-width: 896px) {
							padding: 10px 5px;
						}

						a {
							display: block;
							text-decoration: none;
							color: $wl_medium_grey;
							font-size: 15px;
							line-height: 20px;
							font-weight: 600;

							@media only screen and (max-width: 896px) {
								font-size: 13px;
							}

							&:hover,
							&:focus,
							&:active {
								color: $wl_green;
							}
						}

						&.current-menu-item {
							a {
								color: $wl_green;
							}
						}

						&:hover {
							> ul.sub-menu {
								left: -5px;
								height: auto;
								width: auto;
								background-color: $wl_white;

								li {
									padding: 6px 10px;

									a {
										font-family: "Open Sans";
										font-size: 15px;
										line-height: 22px;
										font-weight: normal;

										&:hover {
											text-decoration: underline;
										}
									}

									&:last-of-type {
										margin-bottom: 10px;
									}
								}
							}
						}

						&.has-children[aria-expanded="true"] {
							> ul {
								left: -5px;
							}
						}
					}

					li.has-children > a:after {
						color: $wl_grey;
						font-family: "Font Awesome 5 Free";
						font-size: 18px;
						font-weight: 900;
						content: "";
						font-style: normal;
						font-variant: normal;
						text-rendering: auto;
						text-decoration: none;
						margin-left: 8px;
						top: 3px;
						position: relative;
					}

					li li.has-children > a:after {
						color: $wl_grey;
						font-family: "Font Awesome 5 Free";
						font-weight: 900;
						content: "";
						font-style: normal;
						font-variant: normal;
						text-rendering: auto;
						text-decoration: none;
						margin-left: 8px;
					}
				}

				ul ul {
					box-shadow: none;
				}
			}

			#search-feature {
				padding-top: 5px;
				display: flex;
				flex-direction: row-reverse;

				.search-icon-button {
					-webkit-appearance: none;
					background-size: contain;
					background-color: transparent;
					width: 35px;
					height: 35px;
					border: none;
					z-index: 10;
					font-weight: 900;
					font-style: normal;
					font-variant: normal;
					font-size: 18px;
					text-rendering: auto;
					text-decoration: none;
					margin: 0;
					padding: 0;
				}

				.search-inputs {
					width: auto;
					height: 35px;
					display: none;
					flex-direction: column;

					&.show {
						display: flex;
						height: 70px;
					}

					#search-form {
						height: 45px;
						display: flex;
						flex-direction: row-reverse;

						.search-submit {
							-webkit-appearance: none;
							background: transparent;
							border: none;

							&:after {
								color: $wl_grey;
								font-family: "Font Awesome 5 Free";
								font-weight: 900;
								content: "";
								font-style: normal;
								font-variant: normal;
								text-rendering: auto;
								text-decoration: none;
								font-size: 20px;
							}
						}

						.search-field {
							input {
								width: 210px;
								display: none;
								border: none;

								&.show {
									display: block;
								}
							}
						}
					}

					.radio-inputs {
						margin: 5px 0 0 0;
						width: 230px;
						height: 45px;

						.radio {
							display: flex;
							flex-direction: row;
							margin-left: 40px;
							width: 220px;

							.option {
								margin: 0 5px;

								label {
									padding-left: 20px;
									position: relative;
								}

								input {
									position: absolute;
									opacity: 0;
									cursor: pointer;
									z-index: 10;
									top: 4px;
								}

								input:checked + label::before {
									background: $wl_teal;
								}

								label {
									&:before {
										height: 13px;
										width: 13px;
										border-radius: 6px;
										background: $wl_white;
										border: 1px solid $wl_medium_grey;
										position: absolute;
										left: 0;
										top: 5px;
										content: "";
									}
								}
							}
						}
					}
				}
			}
		}
	}
}