@import "colors.scss";

@media only screen and (max-width: 812px) {
	.site-content {
		margin-top: 74px;
	}
}

#home {
	.site-main {
		.actions-wrapper {
			display: flex;
			margin: 0;
			padding: 0;
			width: 100%;
			flex-direction: row;

			@media only screen and (max-width: 812px) {
				flex-direction: column;
			}

			.gather,
			.discover,
			.explore {
				flex: 0 0 33.4%;
				height: 301px;
				padding: 20px;
				display: block;
				border: none;

				h2 {
					color: $wl_white;
					font-family: "Open Sans";
					font-size: 38px;
					line-height: 52px;
					text-align: center;
					margin: 0 10px 20px;
				}

				p {
					color: $wl_white;
					font-family: "Open Sans";
					font-size: 18px;
					line-height: 24px;
					text-align: center;
					margin: 17px 10px;
				}
			}

			.gather {
				background-color: $wl_teal;

				.gather-menu {
					margin-top: 10px;

					aside.gather-menu {
						margin: 0;
					}

					aside .menu-gather-menu-container ul.menu {
						display: flex;
						flex-direction: column;
						list-style: none;
						padding: 0;
						margin: 0;

						li {
							list-style-type: none;
							height: auto;
							width: auto;
							padding: 8px 5px;
							margin: 0;

							a {
								color: $wl_white;
								display: block;
								text-decoration: none;
								text-transform: uppercase;
								font-family: "Open Sans";
								font-size: 12px;
								font-weight: bold;
								letter-spacing: 2px;
								line-height: 17px;
								text-align: center;

								&:after {
									font-family: "Font Awesome 5 Free";
									font-weight: 900;
									content: "";
									font-style: normal;
									font-variant: normal;
									text-rendering: auto;
									text-decoration: none;
									margin-left: 8px;
								}
							}
						}
					}
				}
			}

			.discover {
				background-color: $wl_green;

				.discover-menu {
					margin-top: 10px;

					aside.discover-menu {
						margin: 0;
					}

					aside .menu-discover-menu-container ul.menu {
						display: flex;
						flex-direction: column;
						list-style: none;
						padding: 0;
						margin: 0;

						li {
							list-style-type: none;
							height: auto;
							width: auto;
							padding: 8px 5px;
							margin: 0;

							a {
								color: $wl_white;
								display: block;
								text-decoration: none;
								text-transform: uppercase;
								font-family: "Open Sans";
								font-size: 12px;
								font-weight: bold;
								letter-spacing: 2px;
								line-height: 17px;
								text-align: center;

								&:after {
									font-family: "Font Awesome 5 Free";
									font-weight: 900;
									content: "";
									font-style: normal;
									font-variant: normal;
									text-rendering: auto;
									text-decoration: none;
									margin-left: 8px;
								}
							}
						}
					}
				}
			}

			.explore {
				background-color: $wl_salmon;

				.explore-menu {
					margin-top: 10px;

					aside.explore-menu {
						margin: 0;
					}

					aside .menu-explore-menu-container ul.menu {
						display: flex;
						flex-direction: column;
						list-style: none;
						padding: 0;
						margin: 0;

						li {
							list-style-type: none;
							height: auto;
							width: auto;
							padding: 7px 5px;
							margin: 0;

							a {
								color: $wl_white;
								display: block;
								text-decoration: none;
								text-transform: uppercase;
								font-family: "Open Sans";
								font-size: 12px;
								font-weight: bold;
								letter-spacing: 2px;
								line-height: 17px;
								text-align: center;

								&:after {
									font-family: "Font Awesome 5 Free";
									font-weight: 900;
									content: "";
									font-style: normal;
									font-variant: normal;
									text-rendering: auto;
									text-decoration: none;
									margin-left: 8px;
								}
							}
						}
					}
				}
			}
		}

		.new-arrivals-widget {
			margin: 50px 20px;
			width: auto;
			height: auto;

			span {
				width: 180px;
				height: 25px;
				background: white;
				display: block;
				margin: 0 auto;
			}

			h3 {
				font-family: "Open Sans";
				font-size: 20px;
				font-weight: 600;
				line-height: 27px;
				color: $wl_black;
				letter-spacing: 2px;
				text-align: center;
				margin: 0 0 10px;
				text-transform: uppercase;
			}

			.hr {
				height: 10px;
				width: 80%;
				border-bottom: 1px solid $wl_black;
				margin: 0 auto;
				top: 14px;
				position: relative;
				z-index: -1;
			}

			table {
				margin: 0 auto;
				border: none !important;
			}

			table tbody tr:nth-child(4) {
				display: block;
				padding: 15px 10px;

				td {
					display: flex;
					flex-direction: row;
					justify-content: center;

					a {
						padding: 4px 5px;
						height: 39px;
						border: 1px solid gray;
					}
				}
			}
		}
	}
}