@import "colors.scss";

.internal-content-area {
	main {
		grid-column: 1 / 13;
		padding: 20px 50px;

		@supports not (display: grid) {
			width: 100%;
		}

		.entry-header .entry-title {
			margin: 20px 0 10px 0;

			.no-show {
				display: none;
			}
		}

		.entry-title {
			margin: 20px 0 10px 0;
		}

		.entry-content {
			margin: 5px 0;

			.wp-block-image {
				margin-top: 20px;
				margin-right: 0;
				margin-left: 0;
				margin-bottom: 10px;
				overflow: hidden;
			}

			form.visual-form-builder {
				fieldset {
					border: none;
					background-color: $wl_white;
					margin: 0;
					padding: 0;

					.vfb-legend {
						display: none;
					}

					ul {
						margin: 0;
						padding: 0;
					}

					li {
						display: flex;
						flex-direction: column;

						&.vfb-item-time {
							display: block;

							label.vfb-desc {
								width: 100%;
								display: block;
							}

							.vfb-time {
								margin: 0 10px 0 0;

								select {
									-webkit-appearance: none;
									background: transparent;
									padding: 5px 10px;
									border: 1px solid $wl_light_grey;
									margin: 5px 5px;
									height: 40px;
									width: 75px;
								}
							}
						}

						&:before {
							display: none;
						}

						label {
							color: $wl_light_grey;

							&.vfb-required-asterisk {
								color: $wl_salmon;
							}
						}

						&#vfb-3,
						&#vfb-18,
						&#vfb-37,
						&#vfb-56 {
							width: 100%;
							display: block;
							color: $wl_light_grey;
						}

						&.vfb-item-checkbox div {
							display: flex;
							flex-direction: column;

							.vfb-span input[type="checkbox"] {
								margin-right: 10px;
							}
						}

						&.vfb-item-submit input[type="submit"] {
							width: 140px;
							height: 40px;
							margin: 20px 0;
							color: $wl_white;
							background-color: $wl_green;
							text-transform: uppercase;
							font-family: "Open Sans";
							font-size: 12px;
							font-weight: bold;
							letter-spacing: 1.1px;
							line-height: 16px;
							text-align: center;
						}
					}
				}

				label.vfb-error {
					color: $wl_salmon;
				}

				input[type="text"],
				input[type="email"],
				input[type="url"],
				input[type="password"],
				input[type="search"],
				input[type="number"],
				input[type="tel"],
				input[type="range"],
				input[type="date"],
				input[type="month"],
				input[type="week"],
				input[type="time"],
				input[type="datetime"],
				input[type="datetime-local"],
				input[type="color"] {
					border: 1px solid $wl_light_grey;
					margin: 5px 0;
					height: 40px;

					&.vfb-error {
						border: 1px solid $wl_salmon;
					}
				}

				textarea {
					border: 1px solid $wl_light_grey;
					margin: 5px 0;
					height: 125px;
				}
			}
		}
	}

	&.has-aside {
		display: grid;
		grid-template-columns: repeat(12, minmax(0, 1fr));
		grid-gap: 20px;

		@supports not (display: grid) {
			display: flex;
			flex-direction: row-reverse;
		}

		aside {
			grid-column: 1 / 4;
			grid-row: 1;
			background-color: $wl_aside_bkg;
			padding: 20px 5px 20px 40px;
			min-height: 600px;

			@supports not (display: grid) {
				flex: 0 0 30%;
			}
		}

		main {
			grid-column: 4 / 13;
			padding: 20px 50px;

			@supports not (display: grid) {
				flex: 0 0 70%;
			}

			.entry-title {
				margin: 20px 0 10px 0;
			}
		}

		@media only screen and (max-width: 812px) {
			main {
				grid-column: 1 / 13;
				padding: 20px 30px;
			}

			aside {
				display: none;
			}
		}
	}
}