@import "colors.scss";

.admin-bar #mg-wprm-wrap.cbp-spmenu-right {
	top: 115px !important;
}

#wprmenu_bar {
	background-color: $wl_white;
	height: 115px !important;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 20px !important;
	padding-bottom: 20px !important;

	.bar_logo {
		height: 80px;
	}

	div.hamburger {
		margin-top: 25px;

		.hamburger-box {
			.hamburger-inner,
			.hamburger-inner::before,
			.hamburger-inner::after {
				background: $wl_teal;
			}
		}
	}

	&.active {
		background-color: $wl_teal;
		height: 70px !important;

		.menu_title {
			display: none;
		}

		div.hamburger {
			margin-top: auto;

			.hamburger-box {
				.hamburger-inner,
				.hamburger-inner::before,
				.hamburger-inner::after {
					background: $wl_white;
				}
			}
		}
	}
}

#mg-wprm-wrap {
	#wprmenu_menu_ul {
		background: $wl_teal;
		padding: 0;

		li.menu-item {
			border-bottom: 1px solid $wl_white;
		}

		li#menu-item-56 {
			background: $wl_white;
			padding: 10px 0 5px 0;
			border-bottom: none;

			a {
				background: $wl_salmon;
				text-transform: uppercase;
			}
		}

		li#menu-item-51 {
			background: $wl_white;
			padding: 5px 0;
			border-bottom: none;

			a {
				background: $wl_green;
				text-transform: uppercase;
			}
		}

		li#menu-item-49 {
			background: $wl_white;
			padding: 5px 0 0 0;
			border-bottom: none;

			a {
				background: $wl_teal;
				text-transform: uppercase;
			}
		}

		li.has-children {
			ul.sub-menu li {
				background: $wl_teal;
				border-bottom: none;
			}
		}

		#search-feature {
			background: $wl_white;
			padding: 10px;
			display: flex;
			flex-direction: row;
			height: 150px;

			.search-icon-button {
				-webkit-appearance: none;
				background-size: contain;
				background-color: transparent;
				width: 35px;
				height: 35px;
				border: none;
				z-index: 10;
				font-weight: 900;
				font-style: normal;
				font-variant: normal;
				font-size: 30px;
				text-rendering: auto;
				text-decoration: none;
				margin: 0;
				padding: 0;
			}

			.search-inputs {
				width: 100%;
				height: 35px;
				display: none;
				flex-direction: column;
				margin-left: 10px;

				&.show {
					display: flex;
					height: 90px;
				}

				#mobile-search-form {
					height: 45px;
					display: flex;
					flex-direction: row;

					.mobile-search-submit {
						-webkit-appearance: none;
						background: transparent;
						border: none;
						margin: 0 0 0 15px;
						padding: 0;

						&:after {
							color: $wl_grey;
							font-family: "Font Awesome 5 Free";
							font-weight: 900;
							content: "";
							font-style: normal;
							font-variant: normal;
							text-rendering: auto;
							text-decoration: none;
							font-size: 30px;
						}
					}

					.mobile-search-field {
						width: 100%;

						input {
							width: 100%;
							display: none;
							border: none;

							&.show {
								display: block;
							}
						}
					}
				}

				.mobile-radio-inputs {
					margin: 5px 0 0 0;
					width: 87%;
					height: 45px;
					position: relative;

					.mobile-radio {
						display: flex;
						flex-direction: row;

						.mobile-option {
							margin: 0 10px;

							label {
								padding-left: 20px;
								position: relative;
							}

							input {
								position: absolute;
								opacity: 0;
								cursor: pointer;
								z-index: 10;
								top: 4px;
							}

							input:checked + label::before {
								background: $wl_teal;
							}

							label {
								&:before {
									height: 13px;
									width: 13px;
									border-radius: 6px;
									background: $wl_white;
									border: 1px solid $wl_medium_grey;
									position: absolute;
									left: 0;
									top: 5px;
									content: "";
								}
							}
						}
					}
				}
			}
		}
	}

	#wprmenu_menu_ul li:last-of-type {
		background: $wl_white;
	}
}

#mg-wprm-wrap li.menu-item-has-children ul.sub-menu a {
	padding: 5px 3px;
}