@import "colors.scss";

#news-wrapper {
	aside {
		li.widget.widget_nav_menu {
			list-style-type: none;
			padding: 0;

			.menu-news-menu-container {
				ul {
					padding: 0;
					margin: 0;

					li {
						list-style-type: none;
						height: auto;
						padding: 5px 0;

						a {
							font-family: "Open Sans";
							font-size: 15px;
							line-height: 25px;
							color: $wl_medium_grey;
							text-decoration: none;

							&:hover,
							&:active {
								color: $wl_green;
							}

							&:hover {
								&:after {
									color: $wl_green;
									font-family: "Font Awesome 5 Free";
									font-weight: 900;
									content: "";
									font-style: normal;
									font-variant: normal;
									text-rendering: auto;
									text-decoration: none;
									margin-left: 8px;
								}
							}
						}

						&.current-menu-item {
							a {
								color: $wl_green;

								&:after {
									color: $wl_green;
									font-family: "Font Awesome 5 Free";
									font-weight: 900;
									content: "";
									font-style: normal;
									font-variant: normal;
									text-rendering: auto;
									text-decoration: none;
									margin-left: 8px;
								}
							}
						}
					}
				}
			}
		}

		li.widget.widget_categories {
			list-style-type: none;
			ul {
				padding: 0;
				margin: 0;

				li {
					list-style-type: none;

					a {
						font-family: "Open Sans";
						font-size: 15px;
						line-height: 35px;
						color: $wl_medium_grey;
						text-decoration: none;

						&:hover,
						&:active {
							color: $wl_green;
						}

						&:hover {
							&:after {
								color: $wl_green;
								font-family: "Font Awesome 5 Free";
								font-weight: 900;
								content: "";
								font-style: normal;
								font-variant: normal;
								text-rendering: auto;
								text-decoration: none;
								margin-left: 8px;
							}
						}
					}

					&.current-menu-item {
						a {
							color: $wl_green;

							&:after {
								color: $wl_green;
								font-family: "Font Awesome 5 Free";
								font-weight: 900;
								content: "";
								font-style: normal;
								font-variant: normal;
								text-rendering: auto;
								text-decoration: none;
								margin-left: 8px;
							}
						}
					}
				}
			}
		}
	}

	main.site-main {
		.entry-header {
			h1 {
				color: $wl_medium_grey;
				font-family: "Open Sans";
				font-size: 34px;
				line-height: 46px;
			}
		}

		.entry-content {
			.image-date-wrapper {
				display: flex;
				flex-direction: row;
				align-items: center;

				.date {
					height: auto;
					width: auto;
					background-color: $wl_salmon;
					padding: 6px 8px;
					color: $wl_white;
					text-transform: uppercase;
					margin-right: 10px;
					font-family: "Open Sans";
					font-size: 12px;
					font-weight: bold;
					letter-spacing: 1px;
					line-height: 17px;
				}

				.categories {
					padding: 5px;

					a {
						color: $wl_salmon;
						font-family: "Open Sans";
						font-size: 12px;
						font-weight: bold;
						letter-spacing: 1px;
						line-height: 17px;
						text-transform: uppercase;
						text-decoration: none;
					}
				}
			}
		}

		ul.news-items {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			flex-wrap: wrap;

			@media only screen and (max-width: 767px) {
				/* For mobile phones: */
				display: block;
				justify-content: center;
			}

			li {
				list-style: none;
				flex: 1 0 45%;
				margin: 0 30px 30px 0;
				position: relative;
				max-width: 45%;

				@media only screen and (max-width: 767px) {
					/* For mobile phones: */
					flex: 1 0 100%;
					margin: 0 0 30px 0;
					max-width: 100%;
				}

				&:nth-child(even) {
					margin: 0 0 30px 0;
				}

				&:before {
					display: none;
				}

				.image-date-wrapper {
					position: relative;
					height: auto;

					.image {
						position: relative;
						width: 100%;
						height: auto;
						overflow: hidden;

						img {
							max-width: 100%;
							width: 100%;
							height: auto;
							background-position: 50% 50%;
							background-repeat: no-repeat;
							background-size: cover;
						}
					}

					.date {
						display: block;
						height: 28px;
						width: 71px;
						background-color: $wl_aside_bkg;
						font-family: "Open Sans";
						font-size: 12px;
						font-weight: bold;
						letter-spacing: 1px;
						line-height: 17px;
						color: $wl_medium_grey;
						text-transform: uppercase;
						position: relative;
						top: -55px;
						z-index: 1000;
						padding: 5px 5px 5px 8px;
					}
				}

				.categories {
					margin: 5px 0;

					a {
						color: $wl_salmon;
						font-family: "Open Sans";
						font-size: 12px;
						font-weight: bold;
						letter-spacing: 1px;
						line-height: 17px;
						text-transform: uppercase;
						text-decoration: none;
					}
				}

				h2 {
					color: $wl_black;
					font-family: "Open Sans";
					font-size: 20px;
					line-height: 27px;
					margin: 5px 0;
				}

				a.moretag {
					color: $wl_medium_grey;
					font-family: "Open Sans";
					font-size: 12px;
					font-weight: 600;
					line-height: 17px;
					margin: 5px 0;
					text-decoration: none;

					&:after {
						color: $wl_salmon;
						font-family: "Font Awesome 5 Free";
						font-weight: 900;
						content: "";
						font-style: normal;
						font-variant: normal;
						text-rendering: auto;
						margin-left: 5px;
					}
				}
			}
		}

		.pagination {
			display: flex;
			height: auto;
			width: 100%;
			margin: 10px 0;
			align-items: center;

			span.page-numbers.current {
				color: $wl_salmon;
				text-decoration: underline;
				font-family: "Open Sans";
				font-size: 12px;
				font-weight: 600;
				letter-spacing: 0.6px;
				line-height: 17px;
			}

			a.page-numbers {
				color: $wl_black;
				font-family: "Open Sans";
				font-size: 12px;
				font-weight: 600;
				letter-spacing: 0.6px;
				line-height: 17px;
				text-decoration: none;
			}

			a.moretag {
				margin-left: 20px;
			}
		}
	}
}