@import "colors.scss";

#not-found {
	.site-main {
		.error-404 {
			h1.page-title {
				color: $wl_teal;
				font-family: "Open Sans";
				font-size: 75px;
				font-weight: bold;
				line-height: 26px;
				text-align: center;
			}

			.page-content {
				text-align: center;

				.page-not-found {
					color: $wl_medium_grey;
					font-family: "Open Sans";
					font-size: 18px;
					font-weight: bold;
					line-height: 21px;
					text-align: center;
				}

				a.home-button {
					height: auto;
					width: 90px;
					display: block;
					border: 2px solid $wl_teal;
					padding: 5px;
					margin: 0 auto;
					text-decoration: none;
					color: $wl_teal;
					text-transform: uppercase;
					font-size: 14px;
				}
			}
		}
	}
}