@import "colors.scss";

#search {
	.site-main {
		.page-header {
			h1.page-title {
				text-align: center;
				color: $wl_medium_grey;
				font-family: "Open Sans";
				font-size: 20px;
				line-height: 23px;
				text-align: center;

				span {
					color: $wl_green;
				}
			}

			p {
				text-align: center;
			}

			form#search-page-form {
				display: flex;
				flex-direction: row;

				div {
					width: 100%;

					input {
						width: 100%;
					};
				}

				button {
					-webkit-appearance: none;
					background: transparent;
					border: none;

					&:after {
						color: $wl_green;
						font-family: "Font Awesome 5 Free";
						font-weight: 900;
						content: "";
						font-style: normal;
						font-variant: normal;
						text-rendering: auto;
						text-decoration: none;
						font-size: 20px;
					}
				}
			}
		}

		article {
			.entry-header {
				.entry-title {
					a {
						color: $wl_medium_grey;
						font-family: "Open Sans";
						font-size: 16px;
						line-height: 26px;
					}
				}
			}

			.entry-summary {
				a.moretag {
					color: $wl_medium_grey;
					font-family: "Open Sans";
					font-size: 12px;
					font-weight: 600;
					line-height: 17px;
					margin: 5px 0;
					text-decoration: none;

					&:after {
						color: $wl_green;
						font-family: "Font Awesome 5 Free";
						font-weight: 900;
						content: "";
						font-style: normal;
						font-variant: normal;
						text-rendering: auto;
						margin-left: 5px;
					}
				}
			}
		}
	}
}