@import "colors.scss";

#services-wrapper {
	aside {
		li.widget.widget_nav_menu {
			list-style-type: none;
			padding: 0;

			.menu-services-menu-container {
				ul {
					padding: 0;
					margin: 0;

					li {
						list-style-type: none;
						height: auto;
						padding: 5px 0;

						a {
							font-family: "Open Sans";
							font-size: 15px;
							line-height: 25px;
							color: $wl_medium_grey;
							text-decoration: none;

							&:hover,
							&:active {
								color: $wl_green;
							}

							&:hover {
								&:after {
									color: $wl_green;
									font-family: "Font Awesome 5 Free";
									font-weight: 900;
									content: "";
									font-style: normal;
									font-variant: normal;
									text-rendering: auto;
									text-decoration: none;
									margin-left: 8px;
								}
							}
						}

						&.current-menu-item {
							a {
								color: $wl_green;

								&:after {
									color: $wl_green;
									font-family: "Font Awesome 5 Free";
									font-weight: 900;
									content: "";
									font-style: normal;
									font-variant: normal;
									text-rendering: auto;
									text-decoration: none;
									margin-left: 8px;
								}
							}
						}
					}
				}
			}
		}
	}
}