@import "colors.scss";

h1 {
	font-family: "Open Sans";
	font-size: 34px;
	font-weight: normal;
	line-height: 31px;
	color: $wl_medium_grey;
}

h2 {
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: normal;
	line-height: 38px;
	color: $wl_green;
}

h3 {
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	color: $wl_black;
}

p {
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 26px;
	color: $wl_black;
}

h2.internal-menu-titles {
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
	color: $wl_medium_grey;
	margin: 20px 0 5px 0;
}