@media only screen and (max-width: 812px){#wpfront-notification-bar-spacer{z-index:9999999}}html{font-weight:400}@-moz-document url-prefix(){body{font-weight:300 !important}}.site-content{padding:0;margin:0;height:auto;border-top:1px solid #999;min-height:400px}
