h1{font-family:"Open Sans";font-size:34px;font-weight:normal;line-height:31px;color:#555}h2{font-family:"Open Sans";font-size:20px;font-weight:normal;line-height:38px;color:#8f993e}h3{font-family:"Open Sans";font-size:16px;font-weight:500;line-height:26px;color:#323232}p{font-family:"Open Sans";font-size:16px;line-height:26px;color:#323232}h2.internal-menu-titles{font-family:"Open Sans";font-size:20px;font-weight:600;line-height:27px;color:#555;margin:20px 0 5px 0}
